h1:not(.no-border) {
    border-left: 3px solid #318f7c;
    border-bottom: 3px double #318f7c;
    padding: 0.2em;
}

h2{
    margin-top: 2em;
    border-bottom: 3px double #318f7c;
    padding: 0.1em;
}

h3{
    margin-top: 2em;
    border-bottom: 2px solid #318f7c;
    padding: 0.1em;
}

h4 {
    margin-top: 2em !important;
    border-bottom: 1px solid #999 !important;
}

h5 {
    margin-top: 2em;
    border-bottom: 1px solid #ddd !important;
}

table.member-table {
    table-layout: fixed;
    border: 0 !important;
}

table.member-table tr, table.member-table td {
    border: 0 !important;
}

table.member-table tr:nth-of-type(2n+1){
    background-color: #fff;
}

table.member-table tr td:first-child {
    width: 20%;
}

div.alert {
    margin-top: 1em;
    margin-bottom: 1em;
}
